@import url(reset.css);
/*  sub1.css  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url(../icofont/icofont.css);
@import url(../icofont/icofont.min.css);

/*  common  */
body{font-size: 14px;font-family: 'Noto Sans','Noto Sans KR',Helvetica,sans-serif;color: #101820;}
a{color: #101820;text-decoration: none;}
a:hover{color: #101820;text-decoration: none;}
a >span.linkline{width: 100%;background-image: linear-gradient(transparent calc(100% - 1px),#101820 1px);background-repeat: no-repeat;background-size: 0 100%;
                      transition: background-size 0.3s ease-in-out;-o-transition: background-size 0.3s ease-in-out;-moz-transition: background-size 0.3s ease-in-out;-webkit-transition: background-size 0.3s ease-in-out;}
a:hover >span.linkline{width: 100%; background-size: 100% 100%;}

/*  layout  */
#wrap{width: 100%;}
    #header{position: relative; width: 100%;height: 64px;}
    #header:before{content: "";position: absolute;bottom: 0; width: 100%;height: 1px;background: #cfd1d2;}
        .header_wrap{width: 100%; background:#fff;backdrop-filter: blur(3px);}
            .header_inner{position: relative;width: 100%; margin: 0 auto;}
    #container{width: 100%;border-bottom: 1px solid #cfd1d2;}
        .content1{width: 100%;}
            .customer_service{width: 100%;background: #fff;}
            .ask_form{width: 100%;background: #f7f7f7;}
        .content2{width: 1132px;margin: 0 auto;padding: 160px 0 120px;}    
    #footer{width: 100%;}
        .footer_inner{width: 1360px;margin: 50px auto;}
        .footer_inner:after{content: "";display: block;clear: both;}

/*  header  */
/*  logo  */
.header_inner > h1.logo{position: absolute;left:280px; top: 21px;}
.header_inner > h1.logo > a{display: block;width:135px;height: 21px; background: url(../images/logo_b.png) no-repeat 0 0;text-indent: -9999px;overflow: hidden;}

/*  gnb  */
.gnb > ul{width: 100%; text-align: center;}
.gnb > ul > li{display: inline-block;padding: 0 20px;}
.gnb > ul > li > a{display: block;width: 100%; font-size: 17px;font-weight: 600;color: #101820;line-height: 64px;background-image: linear-gradient(transparent calc(100% - 4px),#101010 4px);background-repeat: no-repeat;background-size: 0 100%;
                   transition: background-size 0.3s ease-in-out;}
.gnb > ul > li:hover > a{width: 100%;background-size: 100% 100%;}
.gnb > ul > li > div{display: none; position: absolute;left: 0; height: 64px;background:#fff;}
.gnb > ul > li:hover > div{display: block;}

.gnb > ul > li:nth-child(2) > div{height: 260px;}
.gnb > ul > li > div > ul{vertical-align: top;}
.gnb > ul > li > div > ul > li{display: inline-block;padding: 0 20px;text-align: left;}
.gnb > ul > li > div > ul > li > a{display: block;font-size: 16px;font-weight: 700;color: #101820; line-height: 64px;}

.gnb > ul > li > div > ul > li > ul{float: left;}
.gnb > ul > li > div > ul > li > ul > li > a{display: block;padding: 5px 0; font-size: 15px;font-weight: 500;color: #54565b; line-height:1.4;}

.gnb > ul > li:first-child > div{margin-left: 680px;}
.gnb > ul > li:nth-child(2) > div{margin-left: 600px;}
.gnb > ul > li:nth-child(3) > div{margin-left: 850px;}
.gnb > ul > li:nth-child(4) > div{margin-left: 950px;}
.gnb > ul > li:last-child > div{margin-left: 1070px;} 

/*   탑메뉴   */
.header_inner > ul.top_menu{position: absolute;right: 280px;top: 0;line-height: 64px;}
.top_menu > li{float: left;}
.top_menu > li:first-child{position: absolute; right: 140px;}
.top_menu > li:first-child > a{display: block;width: 88px; background: url(../images/mall_header2.png) no-repeat 0 23px;background-size: 88px;text-indent: -9999px;overflow: hidden;}

.top_menu > li:nth-child(2){width: 110px; padding: 0 30px; text-align: center;}
.top_menu > li:nth-child(2) > a{display: block;font-size: 16px;font-weight: 600;}
.top_menu > li:nth-child(2) > a > i{margin-left: 10px;transform: rotate(0deg);transform-origin: center;}
.top_menu > li:nth-child(2) > ul{display: none;}
.top_menu > li:nth-child(2) > ul > li{padding: 0 35px;border: 1px solid #b2b2b2;background: #fff;}
.top_menu > li:nth-child(2) > ul > li > a{display: block;font-size: 16px;font-weight: 700; color: #b2b2b2;}

.top_menu > li:nth-child(2):active > a > i{transform: rotate(180deg);transform-origin: center;} 

.top_menu > li:nth-child(2):active > ul{display: block;}
.top_menu > li:nth-child(2) > ul > li:hover > a{color: #101820;}

/*  검색버튼  */
div.btn_srch{position: absolute;right: 280px;top: 21px;}
div.btn_srch > a{display: block;width: 23px;height: 23px; background: url(../images/btn_srch_ico_b.png) no-repeat 0 0;text-indent: -9999px;overflow: hidden;}

/*  통합검색  */
.header_wrap > div.srch_wrap{display: none; position: fixed;left: 0;top: 0;width: 100%;height: 320px; border-bottom: 1px solid #cfd1d2; background:#fff;}
.header_wrap > div.srch_wrap:before{content: "";position: absolute;left: 0;top: 64px;z-index: 1; width: 100%;height: 1px;background: #cfd1d2;}
div.srch_wrap > h1.logo_inner{position: absolute;left: 270px;top:0;}
div.srch_wrap > h1.logo_inner > a{display: block;width: 135px;height: 64px;background: url(../images/logo_b.png) no-repeat 0 50%;text-indent: -9999px;overflow: hidden;}

div.srch_wrap > div.srch_inner{position:relative;width: 670px;margin: 0 auto; background:#fff;}
div.srch_inner > form{width: 100%;}
div.srch_inner > form:hover{border-bottom: 1px solid #101820;}
div.srch_inner > form > fieldset{height: 64px;}
div.srch_inner > form > fieldset > input{position: absolute;left: 0;top: 0; width: 640px; height: 64px;border: none; font-size: 15px;color: #76777b; line-height: 1.25;}
div.srch_inner > form > fieldset > button{position: absolute;right: 0;top: 0; width: 23px;height: 64px;border: none;background: url(../images/btn_srch_ico_b.png) no-repeat 0 50%;text-indent: -9999px;overflow: hidden;cursor: pointer;}
div.srch_inner > div{position: absolute;}
div.srch_inner > div > h3{padding:20px 0 10px 0;font-size: 16px;font-weight: 700;color: #76777b;}
div.srch_inner > div > ul > li{display: inline-block;margin:10px 4px 0 0; border: 1px solid #d8d8d8;border-radius: 4px; background: #f7f7f7;}
div.srch_inner > div > ul > li:hover{border: 1px solid #0072e3;}
div.srch_inner > div > ul > li > a{display: block;padding: 4px 10px;font-size: 16px;color: #76777b;}
div.srch_inner > div > ul > li:hover > a{color: #0072e3;}

div.srch_wrap  > button.btn_srch_close{display: block; position: absolute;right: 270px; top: 0; width: 17px;height: 64px;padding: 0 20px; border: 2px solid #101820;border-radius: 3px; background: url(../images/btn_close_ico_b.png) no-repeat 50% 50%;text-indent: -9999px;overflow: hidden;cursor: pointer;}

/*  container  */
/*  content1  */
/*  customer_service  */
.customer_service > h2{margin-top: 150px; font-size: 64px;font-weight: 700; text-align: center;}
.customer_service_inner{width: 675px;margin: 80px auto;box-sizing: border-box;}
.customer_service_inner > p{margin: 10px 0;font-size: 18px;}
.customer_service_inner > div{display: block; position: relative;border: 1px solid #d8d8d8;}
.customer_service_inner > div:first-of-type{margin-bottom: 40px;padding: 20px 30px;}
.customer_service_inner > div:nth-of-type(2){padding: 28px 30px;}
.customer_service_inner > div > h3{font-size: 20px;font-weight: 700;}
.customer_service_inner > div > p{margin: 10px 0; font-size: 16px;color: #54565b;}
.customer_service_inner > div > a{display: inline-block;position: absolute;top:30%;right: 30px;padding: 8.5px 19px;background: #101820; font-size: 16px;color: #fff;}
.customer_service_inner > div > a > span{display: inline-block;position: relative;z-index: 1;}
.customer_service_inner > div > a:before{content: "";display: inline-block;position: absolute;top: -2px;right: -2px;bottom: -2px;left: -2px;background: #0072e3;transform: scale(0,1);transform-origin: right center;
                                   transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.5, 1);}
.customer_service_inner > div > a:hover:before{transform: scale(1,1);transform-origin: left center;}

/*  ask_form  */
.ask_form_inner{width: 675px;margin:0 auto;padding:30px 0 ; box-sizing: border-box;}
.ask_form_inner > form{width: 100%;margin: 75px 0;}
.ask_form_inner > form > fieldset{position: relative; width: 100%;}
.ask_form_inner > form legend{width: 100%;padding-bottom: 15px;border-bottom: 2px solid #101820; font-size: 20px;font-weight: 700; color: #101820;line-height: 1.4;}
.ask_form_inner > form > fieldset > div > label{display: block;margin: 15px 0 10px 0;font-size: 18px;color: #101820;}
.ask_form_inner > form > fieldset > div > select{width: 320px;height: 50px; padding: 10px; border-color: #d8d8d8;appearance: none;background:#fff url(../images/header_arr_down_b.png) no-repeat 290px 50%;background-size: 14px;box-sizing: border-box;}
.ask_form_inner > form > fieldset > div > select:hover{border: 1px solid #101820;}
.ask_form_inner > form > fieldset > div > input{display: block; width: 100%; height: 50px; padding: 10px; border: 1px solid #d8d8d8;background: #fff; box-sizing: border-box;font-size: 15px;color: #101820;}
.ask_form_inner > form > fieldset > div > input:hover{border: 1px solid #101820;}
.ask_form_inner > form > fieldset > div > textarea{display: block;width:100%; padding: 10px;border: 1px solid #d8d8d8;background: #fff; font-size: 15px;color: #101820;box-sizing: border-box;}
.ask_form_inner > form > fieldset > div > textarea:hover{border: 1px solid #101820;}
.ask_form_inner > form > fieldset > div > span{display: block;margin: 15px 0 10px 0; font-size: 18px;color: #101820;}
.ask_form_inner > form > fieldset > div > div.add_file{display: inline-block;}
.add_file > input[type="text"]{display: inline-block;width: 535px; height: 50px;margin-right: 10px; border: 1px solid #d8d8d8; background: #fff;}
.add_file > input[type="file"]{display: none;}
.add_file > label{display: inline-block;position: relative; width: 118px;height: 50px; background: #101820; font-size: 18px;color: #fff; line-height: 50px;text-align: center;cursor: pointer;}
.add_file > label > span{display: inline-block;position: relative;z-index: 1;}
.add_file > label:before{content: "";position: absolute;top: -2px;right: -2px;bottom: -2px;left: -2px;background: #0072e3;transform: scale(0,1);transform-origin: right center;
                         transition:transform 0.3s cubic-bezier(0.25, 0.45, 0.5 ,1);}
.add_file > label:hover:before{transform: scale(1,1);transform-origin: left center;}
.add_file > p{margin: 10px 0; font-size: 15px;color: #54565b;}

.ask_form_inner > form > fieldset:nth-of-type(2){padding-top: 20px;}
.ask_form_inner > form > fieldset > input[type="checkbox"]{display: inline-block;position: relative; width: 18px;height: 18px; vertical-align: middle;}
.ask_form_inner > form > fieldset > input:before{content: "";display: block;width: 14px;height: 14px; position: absolute;border: 2px solid #76777b;}
.ask_form_inner > form > fieldset > input:hover:before{border: 2px solid #101820;}
.ask_form_inner > form > fieldset > ul{display: inline-block;margin-top: 20px;}
.ask_form_inner > form > fieldset > ul > li >  a{display: inline-block;position: absolute;top: 30px;right: 10px;width: 17px; border: none; background:transparent url(../images/header_arr_down_b.png) no-repeat 100% 0;text-indent: -9999px;overflow: hidden;transform: rotate(0deg); 
                                                                    transition: transform 0.3s ease-in-out;}
.ask_form_inner > form > fieldset > ul > li >  a:active{transform: rotate(180deg);}

div.agree_cont{overflow-y: scroll;width: inherit;height: 143px;padding:10px 15px; border: 1px solid #d8d8d8;background: #fff; font-size: 15px; color:#54565b; box-sizing: border-box;word-break: keep-all;word-wrap:break-word;}
.agree_cont > b{display: block; font-weight: bold;margin: 20px 0;}
.agree_cont > p{display: block;margin: 10px 10px 10px 0;}
.agree_cont ul.ul_dash > li{position:relative;top: 0;left:0;word-break: keep-all;word-wrap: break-word;}
.agree_cont ul.ul_dash > li:before{content: "-";margin-right: 10px;}
.agree_cont ol{counter-reset: order-list-counter;padding-left: 15px;}
.agree_cont ol > li{position: relative;top: 0;left: 10px;}
.agree_cont ol > li:before{position: absolute;top: 0;left: -20px; counter-increment: order-list-counter;content: counter(order-list-counter);}
.agree_cont ol.ol_kor > li{position: relative;top: 0;left: 10px;}
.agree_cont ol.ol_kor > li:before{content: "가.";position: absolute;top: 0;left: -20px;}
.agree_cont ol:last-of-type > li{padding-bottom: 10px;}

.ask_form_inner > form > fieldset > div.form_submit{padding: 60px 205px 0 205px;}
.ask_form_inner > form > fieldset > div.form_submit > button{position: relative;}
.ask_form_inner > form > fieldset > div.form_submit > button > span{display:inline-block;position: relative; z-index: 1;}
.ask_form_inner > form > fieldset > div.form_submit > button:before{content: "";display: inline-block;position: absolute;top: -2px;right: -2px;bottom: -2px;left: -2px;background-color: #0072e3;transform: scale(0,1);transform-origin: right center;
                                                                    transition:transform 0.3s cubic-bezier(0.25, 0.45, 0.5, 1);}
.ask_form_inner > form > fieldset > div.form_submit > button:hover:before{transform: scale(1,1);transform-origin: left center;}
.ask_form_inner > form > fieldset > div.form_submit > button:first-child{display: inline-block; padding: 17.5px 39px;margin-right: 10px; border: 1px solid #101820;background: transparent;font-size: 18px;color: #101820;text-align: center;line-height: 1.2;box-sizing: border-box;cursor: pointer;}
.ask_form_inner > form > fieldset > div.form_submit > button:first-child:hover{color: #fff;}
.ask_form_inner > form > fieldset > div.form_submit > button:nth-child(2){display: inline-block; padding:17.5px 39px;border: none;background: #101820; font-size: 18px;color: #fff; text-align: center;line-height: 1.2;box-sizing: border-box;cursor: pointer;}

/*  content2  */
div.content2 > h2{font-size: 64px;font-weight: 700;color: #101820;text-align: center;}
.content2 > div:first-of-type{text-align: center;padding: 60px 0;border-bottom: 1px solid #cfd1d2;}
.content2 > div > ul > li{display: inline-block;}
.content2 > div > ul > li > a{display: inline-block; padding: 10px 20px;border: 1px solid #101820;border-radius: 5px;background: #fff; font-size: 18px;}
.content2 > div > ul > li > a.on{background: #101820;color: #fff;}
.content2 > div > ul > li > a:hover,
.content2 > div > ul > li > a:active{background: #101820;color: #fff;}

div.qna{position: relative;}
div.qna > ul > li{display: block;width: 100%; padding: 25px 30px;box-sizing: border-box;border-bottom: 1px solid #cfd1d2;}

div.qna > ul > li > button.qna_q{position: relative; width: inherit;text-align: left;border: none; background: transparent ;font-size: 18px;color: #101820;line-height: 30px;}
div.qna > ul > li > button.qna_q > span{display:inline-block;margin-right: 10px; font-size:18px ;font-weight: 600;}
div.qna > ul > li > button.qna_q > i{display: inline-block; position: absolute;right: 0; font-size: 18px;color: #101820;transform: rotate(0deg);
                                     transition: transform 0.3s ease-in-out;}
div.qna > ul > li > button.qna_q:active > i{transform: rotate(180deg);}
div.qna > ul > li > div.qna_a{display: none; padding: 20px 30px;}

/* .qna > ul > li > p{position: relative; width: 100%; background: transparent;font-size: 18px;color: #101820;text-align: left;line-height: 30px;}
.qna > ul > li > p i{position: absolute;top: 50%; right: 0;font-size: 18px;color: #101820;transform: rotate(0deg);}
.qna > ul > li > p:active i, 
.qna > ul > li:target > p i{transform: rotate(180deg);}

.qna > ul > li > div{overflow: hidden; height: 0;}
.qna > ul > li:target > p > a{}
.qna > ul > li:target > div{height: auto;} */


/*  footer  */
/*  footer > .addr  */
div.footer_inner > div.addr{float: left;margin: 0 155px 70px 0; width: 305px;}
div.addr > p:first-of-type > a{display: block; width: 135px;height: 21px;padding: 18px 0; background: url(../images/logo_b.png) no-repeat 0 18px; text-indent: -9999px;overflow: hidden;}
div.addr > address{padding: 10px 0; font-size: 14px;color: #54565b; line-height: 1.5;}
div.addr > p:last-of-type{padding-bottom: 20px;font-size: 14px;color: #54565b; line-height: 1.5;}

div.addr > ul{padding: 10px 0;}
div.addr > ul.footer_mall > li{display: inline-block;padding-right: 10px; border-right: 1px solid #b2b2b2;}
div.addr > ul.footer_mall > li:last-of-type{padding-left: 10px; border-right: none;}
div.addr > ul.footer_mall > li > a{display: block;font-size: 15px;color: #101820;}

div.addr > ul.footer_sns > li{display: inline-block; padding-right: 20px;}
div.addr > ul.footer_sns > li > a{display: block; font-size: 24px; color: #101820;}
div.addr > ul.footer_sns > li > a > i{color: #101820;}
div.addr > ul.footer_sns > li:hover > a > i{color: #54565b;}
div.addr > ul.footer_sns > li:last-child > a{width: 21px;height: 21px; background: url(../images/icon_blog_b.png) no-repeat 0 90%;text-indent: -9999px;overflow: hidden;}
div.addr > ul.footer_sns > li:last-child:hover > a{background: url(../images/icon_blog.png) no-repeat 0 90%;}

/*  footer > .sitemap  */
div.footer_inner > div.sitemap{float: left; width: 800px;}
div.sitemap > ul{padding: 18px 0;}

div.sitemap > ul:after{content: "";display: block;clear: both;}
div.sitemap > ul > li{float: left;}
div.sitemap > ul > li > a{display: block;margin-right:100px; padding-bottom: 20px; font-size: 15px;font-weight: 600;}
div.sitemap > ul > li > ul > li > a{display: block; font-size: 15px;color: #404148;line-height: 2;}

/*  footer > .btn_top */
div.footer_inner > div.btn_top{float: right; width: 30px;height: 30px;margin-top: 18px;}
div.btn_top > a{display: block;width: 30px;height: 30px; border: none;background: #101820 url(../images/btn_top_w.png) no-repeat 50% 50% ;text-indent: -9999px;overflow: hidden;
                transition: background 0.3s ease-in-out;-o-transition: background 0.3s ease-in-out;-moz-transition: background 0.3s ease-in-out; -webkit-transition: background 0.3s ease-in-out;}
div.btn_top:hover > a{background: #0071E3 url(../images/btn_top_w.png) no-repeat 50% 50%;}
div.btn_top:active > a{background: #0071E3 url(../images/btn_top_w.png) no-repeat 50% 50%;}

/*  footer > inner_bottom */
div.footer_inner > div.inner_bottom{clear: both;}
.bottom_menu{float: left;}
.bottom_menu > ul > li{display: inline-block; position: relative; padding: 0 10px; font-size: 15px;}
.bottom_menu > ul > li > a{display: block; font-size: 15px;color: #54565b; line-height: 21px;
                           transition: color 0.3s ease-in-out;-o-transition:  color 0.3s ease-in-out;-moz-transition:  color 0.3s ease-in-out;-webkit-transition:  color 0.3s ease-in-out;}
.bottom_menu > ul > li:hover > a{color: #101820;}
.bottom_menu > ul > li > a:after{content: "";position: absolute;left: 0;top:5px; width: 1px;height: 15px;background: #b2b2b2;}
.bottom_menu > ul > li:first-child{padding-left: 0; background:none;}
.bottom_menu > ul > li:nth-child(3){font-weight: bold; color: #101820;}

.familysite{position: relative; float: right; width: 210px;}
.familysite > ul > li > button{position: relative;right: 0;top: 0; width: 210px; border: none;padding: 8px 0; background:transparent;font-size: 14px;text-align: left;}
.familysite > ul > li > button > i{position: absolute;right:0; transform: rotate(0deg);
                                   transition: transform 0.3s ease-in-out ; -o-transition: transform 0.3s ease-in-out ; -moz-transition: transform 0.3s ease-in-out ;-webkit-transition: transform 0.3s ease-in-out ;}
.familysite > ul > li > button:after{content: "";position: absolute;right: 0;bottom: 0; width: 210px;height: 1px;background: #545454;}
.familysite > ul > li > ul{display: none; position: absolute;right: 0px;bottom:35px; width: 190px; padding: 10px; border: 1px solid #545454; background: #f7f7f7;}

.familysite > ul > li > button:active > i{transform: rotate(180deg);}
.familysite > ul > li:active > ul{display: block;} 

/*  사이드 버튼  */
.btn_mall{display: block;position: fixed;right: 15px;bottom: 15px;width: 110px;height: 110px;background: url(../images/homepage_banner3.png);background-size: 110px;text-indent: -9999px;overflow: hidden;}
